<!-- templates/index.html -->
{% extends 'base.html' %}

{% block title %}Trang chủ{% endblock %}

{% block content %}
<h1 class="mb-4">Danh sách sản phẩm</h1>

<div class="row">
  {% for product in products %}
  <div class="col-md-3">
    <div class="card mb-4">
      <img src="{{ product.image }}" class="card-img-top" alt="{{ product.name }}">
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text text-danger">{{ "{:,.0f}".format(product.price) }} VND</p>
        <form method="POST" action="{{ url_for('add_to_cart', id=product.id) }}">
          <button class="btn btn-primary w-100">🛒 Thêm vào giỏ</button>
        </form>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
